{{ define "base" }}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }} — Schooler</title>

  <!-- MathJax-конфигурация -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        // можно добавить свои макросы
        macros: {
          RR: "\\mathbb{R}"
        }
      },
      options: {
        skipHtmlTags: ['script','noscript','style','textarea','pre']
      }
    };
  </script>
  <!-- Сам движок MathJax -->
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>
  {{ block "head" . }}{{ end }}
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<nav class="navbar">
  <div class="nav-left">
    <a href="/">Домой</a> |
    <a href="/courses3">Курсы</a> |
    <a href="/materials">Материалы</a> |
    <a href="/homework">Домашка</a> |
    <a href="/gallery">Галерея</a> |
    <a href="/video">Видео</a>
  </div>

  <div class="nav-right">
    <a href="/profile">Личный кабинет</a>
    {{ if .IsAuth }}
      <form method="POST" action="/logout" class="logout-form">
        <button type="submit">Выйти</button>
      </form>
    {{ else }}
      <form method="POST" action="/login" class="logout-form">
        <button type="submit">Войти</button>
      </form>
    {{ end }}
  </div>
</nav>
  <hr>
  {{ template "content" . }}
</body>
</html>
{{ end }}
